# 7장. 자료 구조

### 1. 스택(Stack)

In [1]:
stack=[1,2,3]
stack.append(4)   #push역할
stack

[1, 2, 3, 4]

In [2]:
stack.pop()

4

In [3]:
stack

[1, 2, 3]

In [6]:
# 입력한 문자열을 거꾸로 추출
word=input('단어 입력')
word_list=list(word)
print(word_list)

result = []
for _ in range(len(word_list)):
    result.append(word_list.pop())
print(result)

['p', 'y', 't', 'h', 'o', 'n']
['n', 'o', 'h', 't', 'y', 'p']

### 2. 큐(Queue)

In [7]:
queue=[1,2,3,4]
queue.pop()

4

In [8]:
queue

[1, 2, 3]

### 3. 튜플(Tuple)

In [9]:
t = (1,2,3)
st = tuple('word')
t, st

((1, 2, 3), ('w', 'o', 'r', 'd'))

In [10]:
#괄호 쓰지 않아도 튜플로 인식
t=1,2,3
t

(1, 2, 3)

In [ ]:
# 시퀀스 자료형이므로 for문에서 사용 가능
for element in t:
    print(element)

### 4. 세트(Set)

In [11]:
s=set([1,2,3,1,2,3])
s

{1, 2, 3}

In [ ]:
s=set((1,2,3))

In [12]:
#세트는 튜플과 다르게 삭제나 변경이 가능하다.
s.add(1)
s

{1, 2, 3}

In [13]:
s.add(4)
s

{1, 2, 3, 4}

In [ ]:
s.add(1)

In [14]:
s.update([1,3,5,7])
s

{1, 2, 3, 4, 5, 7}

In [15]:
s.remove(7)
s

{1, 2, 3, 4, 5}

In [17]:
s.discard(3)
s

{1, 2, 4, 5}

In [18]:
s.clear()
s

set()

In [24]:
s1 = set( range(3,7) )
s1
s2 = set( range(1,4) )

In [25]:
# 합집합(Union)
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [27]:
s3 = s1.union(s2)

({1, 2, 3, 4, 5, 6}, {3})

In [ ]:
s1 | s2

In [30]:
# 교집합(Intersection)
s4 = s1.intersection(s2)
s4

{3}

In [ ]:
s1 & s2

In [28]:
# 차집합(Difference)
s1.difference(s2)

{4, 5, 6}

In [31]:
#차집합은 이렇게도 쓸수있음
s1-s2

{4, 5, 6}

In [32]:
for i in s1:
    print(i)

3
4
5
6